key-color = #7BC8C9
bg-color = #F6FBFB
point-color = #6DC2C4

.popup
  padding 2vw
  border-radius 6px
  box-shadow -2px 2px 10px rgba(0, 0, 0, 0.15)
  background white
  position relative
  h4
    position relative
    padding-left 2.5vw
    margin-bottom 48px
    font-size 1.5rem
    color #444444
  h4::before
    content ' '
    display block
    position absolute
    left 8px
    top 0px
    width 8px
    height 48px
    background key-color

    strong
      font-size 1.5rem
  p
    padding 1vh 2.5vw
    font-size 1.25rem
    color #444444
  .dateinfo
    font-weight 300
    span
      padding 4px 12px
    span:first-child 
      padding-left 0px
  .tag
    color #DD614A
    
  .close
    position absolute
    right 10px
    top 10px
    width 25px
    height 25px
    border 0
    display none

@media (min-width: 500px)
  .body
    display flex
    height 100%
    overflow auto
  .list
    max-width 500px
    flex 1 1 0
    overflow auto
  .detail
    flex 1 0 0
    padding 20px
    .popup
      position relative

@media (max-width: 499px)
  .body
    display flex
  .detail
    .dimmer
      position fixed
      top 0
      left 0
      width 100%
      height 100%
      background rgba(123, 200, 201, 0.5)
      display flex
      justify-content center
      padding 20px
  .popup
    .close
      display block
