:global
  html
    height 100%
  body
    font-family sans-serif
    height 100%
  html, body, div, h1, h2, h3, h4, h5, p, ul, li
    margin 0
    padding 0
    box-sizing border-box
  li
    list-style none
  a
    text-decoration none
    color inherit

key-color = #7BC8C9
bg-color = #F6FBFB
point-color = #6DC2C4

.header
  background bg-color
  color point-color
  padding 20px

.body
  background bg-color

h1
  position relative
  height 60px
  text-align center
  font-size 0
  border-bottom 4px solid point-color
  border-radius 4px
  background bg-color

  img
    position absolute
    width 10vw
    left 43vw
    padding 10px 24px
    background bg-color
  
  