:global
  html
    height 100%
  body
    font-family sans-serif
    height 100%
  html, body, div, h1, h2, h3, h4, h5, p, ul, li
    margin 0
    padding 0
    box-sizing border-box
  li
    list-style none
  a
    text-decoration none
    color inherit

key-color = #7BC8C9

.header
  background key-color
  color white

.body
  background #629FA1
